<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="./logs" />
    <property name="LOG_FILE_NAME" value="application_logback" />

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>C://Users/ryanj/Desktop/College/CS-389/ranks_list/logs/logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date - [%level] - from %logger in %thread %n%message%n%xException%n</pattern>
        </encoder>
    </appender>

    <appender name="roll-by-size" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="target/log4j/roll-by-size/app.log" />
        <param name="MaxFileSize" value="5KB" />
        <param name="MaxBackupIndex" value="2" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
        </layout>
    </appender>

    <!-- Reduce DB startup chatter -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!--- Spring boot has a lot of startup noise as well -->
    <logger name="org.springframework" level="WARN"/>

    <!-- Increase verbosity for local classes during testing -->
    <logger name="edu.carroll.cs389" level="DEBUG"/>

    <!-- Default level is INFO -->
    <root level="INFO">
        <appender-ref ref="File"/>
    </root>
</configuration>