<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="./logs" />
    <property name="LOG_FILE_NAME" value="application_logback" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <file>C://Users/ryanj/Desktop/College/CS-389/ranks_list/log.log</file>
        <encoder>
            <pattern>%date - [%level] - from %logger in %thread %n%message%n%xException%n</pattern>
        </encoder>
    </appender>

    <!-- Reduce DB startup chatter -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!--- Spring boot has a lot of startup noise as well -->
    <logger name="org.springframework" level="WARN"/>

    <!-- Increase verbosity for local classes during testing -->
    <logger name="edu.carroll.cs389" level="DEBUG"/>

    <!-- Default level is INFO -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>